<!-- start custom analytics snippet -->
<!-- ClustrMaps Visitor Tracking -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J8TC0RL6CP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J8TC0RL6CP');
</script>

<div style="display: flex; justify-content: center; align-items: center; width: 30%; margin: 0 auto;">
  <div style="width: 8%; max-width: 500px;">
    <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Q44tzpxTZzZybJuLB4OD129zTsz7V6-1J5s58oeo1N4&cl=ffffff&w=a"></script> -->
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=Q44tzpxTZzZybJuLB4OD129zTsz7V6-1J5s58oeo1N4"></script>
  </div>
</div>

<!-- end custom analytics snippet -->